@model IEnumerable<PersonnelViewModel>

<h2>لیست پرسنل</h2>
<a href="@Url.Action("Create", "Person")">ایجاد شخص جدید</a>

<table class="table">
    <thead>
        <tr>
            <th>نام</th>
            <th>نام خانوادگی</th>
            <th>کد پرسنلی</th>
            @* تولید فیلدهای داینامیک *@
            @{
                // Collect all unique dynamic field names from the model
                var allDynamicFieldNames = Model
                .Where(p => p.DynamicFields != null)
                .SelectMany(p => p.DynamicFields.Select(f => f.FieldName))
                .Distinct()
                .ToList();
            }

            @if (allDynamicFieldNames.Any())
            {
                foreach (var field in allDynamicFieldNames)
                {
                    <th>@field</th>
                }
            }
         @*  <th>عملیات</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.FName</td>
                <td>@person.LName</td>
                <td>@person.PersonnelCode</td>
                @* تولید مقدار فیلدهای داینامیک *@
                @foreach (var field in person.DynamicFields)
                {
                    <td>@field.FieldValue</td>
                }
               @*  <td>
                    <a asp-action="Edit" asp-route-id="@person.PersonId" class="btn btn-primary">ویرایش</a>
                    <a asp-action="Delete" asp-route-id="@person.PersonId" class="btn btn-danger">حذف</a>
                </td> *@
            </tr>
        }
    </tbody>
</table>
