@model IEnumerable<PersonnelViewModel>

<h2>Persons</h2>

<a href="@Url.Action("Create", "Persons")">Create New Person</a>

<table>
    <thead>
        <tr>
            <th>کد پرسنلی</th>
            <th>نام</th>
            <th>نام خانوادگی</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.personnelCode</td>
                <td>@person.fName</td>
                <td>@person.lName</td>
                <td>
                    <a href="@Url.Action("Edit", "Persons", new { id = person.id })">ویرایش</a> |
                    <a href="@Url.Action("Delete", "Persons", new { id = person.id })">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
