@model IEnumerable<DynamicFieldDefinition>
@{
    // Retrieve the status mapping from ViewBag
    var statusMapping = ViewBag.StatusMapping as Dictionary<int, string>;
}

<h2>فیدهای داینامیک</h2>

<a href="@Url.Action("Create", "DynamicFields")">ایجاد فیلد جدید</a>

<table>
    <thead>
        <tr>
            <th>نام فیلد</th>
            <th>نام نمایشی</th>
            <th>نوع داده</th>
            @* <th>عملیات</th> *@
        </tr>
    </thead>
    <tbody>
        @foreach (var field in Model)
        {
            <tr>
                <td>@field.fieldName</td>
                <td>@field.displayName</td>
                <td>@(statusMapping.ContainsKey(field.type) ? statusMapping[field.type] : "Unknown")</td>
               @*  <td>
                    <a href="@Url.Action("Edit", "DynamicFields", new { id = field.id })">ویرایش</a> |
                    <a href="@Url.Action("Delete", "DynamicFields", new { id = field.id })">حذف</a>
                </td> *@
            </tr>
        }
    </tbody>
</table>
